.post-link {
    padding: 6rem 0;
    border: 1px solid lightgrey;
    border-right: none;
    border-left: none;

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__collage {
        flex-basis: 50%;
    }

    &__description {
        flex-basis: 50%;
        padding: 0 4rem;

        a {
            color: black;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.collage {
    position: relative;

    &__small {
        position: absolute;
        left: 0;
        top: calc(50% - 140px);
        box-sizing: border-box;
        border: 12px solid white;
        width: 280px;
        height: 280px;
    }

    &__big {
        margin-left: 140px;

        width: 385px;
        height: 576px;
    }
}
